<div>FreeBSD (assuming fresh install, skip packages if already installed):
    Python: 
    <pre>cd /usr/ports/lang/python; make && make install</pre>
    <br />
    BSD Sar:
    <pre>cd /usr/ports/sysutils/bsdsar; make && make install</pre>
    <br />
    Muse:
    <pre>cd /usr/ports/sysutils/muse; make && make install</pre>
    <br />
    Perl (FreeBSD 7):
    <pre>cd /usr/ports/lang/perl5; make && make install</pre>
    <div style="margin-left: 30px;">
    Link it to /usr/bin:
    <pre>ln -s /usr/local/bin/perl /usr/bin/perl</pre>
    </div>
    <br /> 
    Perl (FreeBSD 8):
    <pre>cd /usr/ports/lang/perl5.8; make && make install</pre>
</div>

