<div>CentOS, RedHat, Fedora & Other yum based Distro's:
        <pre>yum install sysstat</pre>
    </div>
    <br />
    <div>Debian:
        <pre>apt-get install sysstat</pre>
    </div>
    <br />
    <div>Ubuntu:
        <pre>sudo apt-get install sysstat</pre>
        
        Make sure SAR gets set to collect statistics:
        Make sure /etc/defaults/sysstat is set to true on this part:
        <pre>ENABLED="true"</pre>
    </div>
    <br />
    <div>ArchLinux:
        <pre>pacman -S python
pacman -S sysstat</pre>
    </div>
    <br />
    <div>Generic Linux:
            <pre>Make sure the sysstat package is installed
            and sar is available.</pre>
    </div>

