<script>
    jQuery(document).ready(function() {
      jQuery("#windows").hide();
    });

    </script>
    <h2><strong>Step 2. Download the Windows agent &amp; Run it</strong> <br /><br /><small style='font-size: 15px;'>
    <a href="/data/ServlySetup.msi"><strong>Download Agent</strong></a></small></h2>

    <a href="http://github.com/bluescripts/ServlyWindows">View Source</a><br />
    <br />

    <div style="width: 600px; text-align: left;">
    <strong>Subdomain:</strong> <%=subdomain.subdomain%><br />

    <strong>API Key:</strong> <%=@key%><br />
    </div>

