<div class="pull-right">
  <%= link_to "Mark All Read", mark_triggered_alert_path(@trigger.first.id), :class => "btn btn-success" unless @trigger.first.nil? %>
</div>
<%= render :partial => 'alerts' %>
